export(as.class.vector)
export(check.contrast.format)
export(check.file.args)
export(check.libsize)
export(check.num.args)
export(check.packages)
export(check.parallel)
export(check.text.args)
export(construct.gene.model)
export(diagplot.boxplot)
export(diagplot.cor)
export(diagplot.de.heatmap)
export(diagplot.edaseq)
export(diagplot.filtered)
export(diagplot.mds)
export(diagplot.metaseqr)
export(diagplot.noiseq)
export(diagplot.noiseq.saturation)
export(diagplot.pairs)
export(diagplot.venn)
export(diagplot.volcano)
export(disp)
export(filter.exons)
export(filter.genes)
export(filter.high)
export(filter.low)
export(get.annotation)
export(get.biotypes)
export(get.dataset)
export(get.defaults)
export(get.exon.attributes)
export(get.gene.attributes)
export(get.host)
export(get.preset.opts)
export(get.valid.chrs)
export(graphics.close)
export(graphics.open)
export(make.contrast.list)
export(make.fold.change)
export(make.grid)
export(make.html.body)
export(make.html.cells)
export(make.html.header)
export(make.html.rows)
export(make.html.table)
export(make.matrix)
export(make.sample.list)
export(make.stat)
export(make.transformation)
export(make.venn.areas)
export(make.venn.colorscheme)
export(make.venn.counts)
export(make.venn.pairs)
export(metaseqr)
export(normalize.deseq)
export(normalize.edaseq)
export(normalize.edger)
export(normalize.nbpseq)
export(normalize.noiseq)
export(read2count)
export(read.annotation)
export(read.targets)
export(reduce.gene.data)
export(stat.bayseq)
export(stat.deseq)
export(stat.edger)
export(stat.limma)
export(stat.nbpseq)
export(stat.noiseq)
export(wapply)
export(wp.adjust)
