export(as.class.vector)
export(bam2metaseqr)
export(check.contrast.format)
export(check.file.args)
export(check.libsize)
export(check.num.args)
export(check.packages)
export(check.parallel)
export(check.text.args)
export(construct.gene.model)
export(disp)
export(filter.exons)
export(filter.genes)
export(filter.high)
export(filter.low)
export(get.annotation)
export(get.biotypes)
export(get.dataset)
export(get.defaults)
export(get.exon.attributes)
export(get.gene.attributes)
export(get.host)
export(get.valid.chrs)
export(graphics.close)
export(graphics.open)
export(make.contrast.list)
export(make.fold.change)
export(make.grid)
export(make.html.body)
export(make.html.cells)
export(make.html.header)
export(make.html.rows)
export(make.html.table)
export(make.matrix)
export(make.sample.list)
export(make.stat)
export(make.transformation)
export(metaseqr)
export(normalize.deseq)
export(normalize.edaseq)
export(normalize.edger)
export(normalize.noiseq)
export(plot.boxplot)
export(plot.de.heatmap)
export(plot.edaseq)
export(plot.filtered)
export(plot.mds)
export(plot.metaseqr)
export(plot.noiseq)
export(plot.noiseq.saturation)
export(plot.volcano)
export(read.annotation)
export(reduce.gene.data)
export(stat.bayseq)
export(stat.deseq)
export(stat.edger)
export(stat.limma)
export(stat.noiseq)
export(wapply)
export(wp.adjust)
