body
{
    background-color: #D0DBFF;
    line-height: 1.7em;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 0.8em; 
    font-weight: normal; 
    color: #0E2B8A; 
    text-decoration: none;
    margin: 0px;
}

ul
{
	margin: 0.2em;
	padding-left: 2.5em;
}

ul ul
{
	margin: 0.2em;
	padding-left: 2em;
}

input, text
{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

select
{
	border-radius: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 2px;
}

input[disabled]
{
	background-color: #F8DEBB;
}

input[readonly]
{
	background-color: #F8DEBB;
}

select[disabled]
{
	background-color: #F8DEBB;
}

textarea
{
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 1.2em;
    color: #000000;
    background-color: #FFEFCC;
    width: 20em;
    height: 5em;
    resize: none;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

table.headContainer
{
    background-color: #D0DBFF;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    border-collapse: collapse;   
}

table.menuContainer
{
	font-size: 1.2em;
	background-color: #4C6AD0;
	width: 100%;
	padding: 0px;
	border-width: 0px;
	border-collapse: collapse;
}

td.menuCell
{ 
    background-color: #4C6AD0;
    border-color: #0E2B8A;
    width: 14%;
    padding: 2px;
    border-width : 0px;
    border-style: none;
    color: #F7F7F7;
    font-size: 1.1em;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;    
}

td.menuCell:hover
{
    background-color: #2655EE;
}

td.menuCell a
{
    color: #F7F7F7;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    bottom: 2px;
}

td.menuCell a:hover
{  
    color: #92ACFF;
}

table.mainContainer
{
    background-color: #D0DBFF;
    width: 100%;
    height: 90%;
    padding: 0px;
    border-width: 0px;
    border-collapse: collapse;
}

td.mainContainer
{
    width: 80%;
    height: 90%;
    padding: 10px;
    border-width: 0px;
    vertical-align: top; 
}

td.leftContainer
{
	width: 13%;
	height: 95%;
	padding: 5px;
	padding-top: 15px;
	vertical-align: top;
	border-style: solid;
	border-width: 1px;
	border-color: #002FCB; 
	border-left: 0px;
	border-right: 1px;
	border-top: 0px;
	border-bottom: 0px;
}

td.rightContainer
{
    width: 7%;
    height: 90%;
    padding: 5px;
    border-width: 0px;
    vertical-align: top;    
}

td.footer
{
    background-color: #4C6AD0;
    border-color: #0E2B8A;
    border-width : 1px;
    border-style: solid;
    text-align: center;
    height: 5%;
    color: #F7F7F7;
    font-size: 0.9em; 
    font-weight: normal;
}

td.footer a
{
    color: #F7F7F7;
    font-weight: bold;
    text-decoration: none;
}

td.footer a:hover
{  
    color: #92ACFF;
}

.tocul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tocul ul, .tocul ul ul
{
	margin: 0;
	padding-left: 0.5em;
	list-style-type: none;
}

.tocli, .tocli li, .tocli li li
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.tocli a
{
	color: #001F86;
	font-weight: bold;
}

.datatable
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 0.9em; 
	font-weight: normal; 
	color: #0E2B8A; 
	text-decoration: none;
	width: 1024px;
	/*table-layout: fixed;*/
}

.volcano
{
	width: 768px;
	height: 1024px;
}

.innerTable
{
    /*width: 100%;*/
    border-width: 0px;
    border-spacing: 0px;
    /*font-size: 0.8em;*/
}

.innerCell
{
    padding: 5px;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: dashed;*/
}

.infoCell
{
    padding: 2px;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: dashed;*/
}

.optsCell
{
    padding: 5px;
    vertical-align: top;
    /*border-width: 1px;
    border-style: dashed;*/
}

.buttonCell
{
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: dashed;*/
}

.diagnosticCell
{
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #4C6AD0;
    border-spacing: 10px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.resultTable
{
	width: 100%;
	border-collapse: collapse;
}

.resultHead
{
	padding: 2px;
    vertical-align: middle;
    font-weight: bold;
    background-color: #EAA03F;
}

.resultCellOdd
{
	padding: 2px;
	vertical-align: middle;
	background-color: #F0C895;
}

.resultCellEven
{
	padding: 2px;
	vertical-align: middle;
	background-color: #FCEAD0;
}

.resultCellOddDel
{
	padding: 2px;
	vertical-align: middle;
	text-align: center;
	background-color: #F0C895;
}

.resultCellEvenDel
{
	padding: 2px;
	vertical-align: middle;
	text-align: center;
	background-color: #FCEAD0;
}

.resultCellOddDel:hover
{
	background-color: #EAA03F;
	cursor: pointer;
}

.resultCellEvenDel:hover
{
	background-color: #EAA03F;
	cursor: pointer;
}

.runInfoDiv
{
	display: none;
	padding: 5px;
	width: 70%;
	border-style: solid;
	border-width: 1px;
	border-color: #4C6AD0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.pseudolink 
{
    color: #4C6AD0; 
    text-decoration: underline;
    cursor: pointer;
}

.anchor
{
	font-size: 0.8em; 
    font-weight: normal; 
    /*color: #7D1010;*/
    letter-spacing: 0.7px;
    text-decoration:none;
}

.text 
{ 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 0.9em; 
    font-weight: normal; 
    color: #0E2B8A;
    line-height: 1.2em; 
}

.title 
{  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 1.3em; 
    font-weight: bold; 
    color: #061D67;
    letter-spacing: 1px;
}

.subtitle 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.2em; 
	font-weight: bold;
	font-style: italic; 
	letter-spacing: 1px;
}

.pageTitle 
{  
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;
    color: #0E2B8A;
    letter-spacing: 2px;
}

.fieldSetTitle
{
    font-weight: bold;
    font-size: 0.9em;
    background-color:#FBD099;
    border-style: solid; 
    border-width: 1px; 
    border-color: #4C6AD0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}

fieldset
{
    border-color: #4C6AD0;
    border-width: 1px;
    border-style: solid;
    width: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

a 
{
    color: #4C6AD0; 
    text-decoration: underline
}

a:hover 
{  
    color: #00259D; 
}

#contents.fixed>div
{
	position:fixed;
	top:0;
}

#progressDisplay
{
	font-family: "Courier New", Courier, monospace;
	font-size: 0.8em;
	color: #FFFFFF;
	background-color: #3E3E3E;
	width: 100%;
	height: 320px;
	border-style: solid;
	border-width: 1px;
	border-color: #A33307;
	overflow: auto;
	display: none;
}

#warning
{
	text-align:center;
	display:none;
	padding-bottom: 10px;
}

#errorContainer
{
	font-size: 0.8em;
	color: #E90000;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

p.MsoNormal {
	mso-style-parent: "";
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Times New Roman";
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0cm
}

.clearFix:after { /* for modern browsers */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearFix { /* for IE7/Win */
	min-height: 1px;
}

* html .clearFix { /* for IE5-6/Win */
	height: 1px;
}

* html>body .clearFix { /* for IE5/Mac */
	height: auto;
	display: inline-block;
}

.hintText {
	font-family: tahoma, verdana, arial;
	font-size: 12px;
	background-color: #FFFFCC;
	color: #000000;
	padding: 5px;
}

.wrapped table,.wrapped td {
	border: 0;
	border-collapse: collapse;
	padding: 0;
	background-position: 0px;
}

.LV_validation_message
{
    font-size: 0.7em;
    font-weight:bold;
    display: inline-block;
    margin-left: 2px;
}

.LV_valid 
{
    color:#007C00;
}
    
.LV_invalid 
{
    color: #E90000;
}
    
#ui-datepicker-div { font-size:12px; }

.tooltip-class
{
	display: none;
	background-color: #FFFBD0;
	border-style: solid;
	border-width: 1px;
	border-color: #AD1700;
	padding: 5px;
	font-size: 0.8em;
	width: 500px;
	opacity: 1.0;
	z-index: 998;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.tooltip-class.top {}

.tooltip-class.bottom {}

.tooltip-class.right {}

.tooltip-class.left {}

table.popup
{
	table-layout:fixed;
	width: 100%;
	border-style: none;
	padding: 0px;
	border-collapse: collapse;
}

td.popup
{
	padding: 3px;
	font-size: 0.9em;
	line-height: 1em;
	text-align: left;
	vertical-align: middle;
	border-style: dotted;
	border-color: #909090;
	border-width: 1px;
}

.ui-autocomplete 
{
	position: relative;	
	max-height: 180px;
	max-width: 15em;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 0.8em;
}
